{% extends 'base.html' %}

{% block title %}Подробная информация о мероприятии {{ data.title }}{% endblock %}

{% block content %}
<header>
    <h1><a href="{% url 'events_url' %}"> Музей МГТУ им. Н.Э.Баумана </a></h1>
    <a href="{% url 'events_url' %}" class="btn-custom">Вернуться к мероприятиям</a>
</header>

<div class="card-table">
    <div class="card-cell">
        <h2>{{ event.Name }}</h2>
        <h2>{{ event.Start_date }} - {{ event.End_date }}</h2>
        <img class="img-card" src="{{ event.Image }}" alt="{{ event.Name }}">
    </div>
    <div class="card-cell">
        <div>
            <h2>О мероприятии:</h2> 
            <h4>{{ event.Info }}</h4>  <!-- Обратитесь к полю Info модели Events -->
        </div>
    </div>
</div>
{% endblock %}
