{% extends 'base.html' %}

{% block title %}Актуальные мероприятия{% endblock %}

{% block content %}
<header>
    <h1><a href="{% url 'events_url' %}"> Музей МГТУ им. Н.Э.Баумана </a></h1>
    <form action="{% url 'events_url' %}" method="get">
        <input type="text" name="query" placeholder="Поиск мероприятий" class="search-input" value="{{ request.GET.query }}">
        <input type="submit" value="Искать" class="btn-custom">
    </form>
</header>
<ul>
    {% for event in data.events %}
    <li>
        <h2>{{ event.Name }}</h2>
        <a href="{% url 'event_url' event.Event_id %}"><img style="text-align: center;" src="{{ event.Image }}" alt="{{ event.Name }}"></a>
        <h5>{{ event.Start_date }} - {{ event.End_date }}</h5>
        <h5>{{ event.Status}}</h5>
        <form method="post" action="{% url 'delete_event' eventId=event.Event_id %}">
            {% csrf_token %}
            <button type="submit">Удалить</button>
        </form>        
    </li>
    {% endfor %}
</ul>
{% endblock %}


